{% extends 'base.html' %} {% load staticfiles %} {% block head_block%}
<!--custom css-->
<link rel="stylesheet" href="{% static 'home/css/home_main.css'%}" /> {% endblock %} {% block body_head_title%}
<!-- <h1 class="heading col-xs-8 col-xs-offset-2">786 Multi Services<br>
				<small >Illia Road, Chandauli, U.P, India</small></h1>  -->
{% endblock%} {% block body_head_content %}
<!-- <h4>We have all the services you need.</h4>  -->
{% endblock%} {%block js_include%}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
	function initMap() {

		var uluru = {
			lat: 25.075124,
			lng: 83.339709
		};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 9,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGQqJtL1kWp06Qmp0w1SmNDAjPRIUjQKU&callback=initMap">
</script>
{% endblock%} {% block body_block %} {% if news_list %}
<div class="panel panel-default">
	<div class="container-fluid">
		<marquee direction="left">
			{%for news in news_list %} {{news.content|safe}} {%ifequal news.time.month today.month %}<span class="label label-danger">New</span>{% endifequal %} {% if not forloop.last %} | {% endif %} {%endfor%}
		</marquee>
	</div>
</div>
{% endif %}

<div class="container">
	<div class="row section" id="services">
		<br/>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 ">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<img src="{% static 'home/images/services.png' %}" class="img-responsive center-block" />
							<h3>Consultancy &amp; Solutions</h3>
							<p>We provide wide range of services at affordable price. Our services varies from website and Mobile application designing to online application filling.
								<br/> {% if travel_services %} Following are the common services we currently focused on {% endif %}
							</p>

							<ul class="service-list">
								{%for service in travel_services%}
								<li><i class="fa fa-check"></i> {{service.name}}</li>
								{%endfor%}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<img src="{% static 'home/images/internet.png' %}" class="img-responsive center-block" />
							<h3>Digital Services</h3>
							<p>We provide wide range of services at affordable price. Our services varies from website and Mobile application designing to online application filling.
								<br/> {% if application_services %} Following are the common services we currently focused on {% endif %}
							</p>
							<ul class="service-list">
								{%for service in application_services%}
								<li><i class="fa fa-check"></i> {{service.name}}</li>
								{%endfor%}
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<img src="{% static 'home/images/travel2.png' %}" class="img-responsive center-block" />
							<h3>Tour and Travel</h3>
							<p>We provide wide range of services at affordable price. Our services varies from website and Mobile application designing to online application filling.
								<br/> {% if recharge_services %} Following are the common services we currently focused on {% endif %}
							</p>
							<ul class="service-list">
								{%for service in recharge_services%}
								<li><i class="fa fa-check"></i> {{service.name}}</li>
								{%endfor%}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row section" id="home">
		<div class="container">
			<h4 class="heading">Programmes</h4>
			{% if programme_list%}
			<ul class="programme-list">
				{%for programme in programme_list %}
				<li class="programme-element">{{programme.content|safe}} {%ifequal programme.time.month today.month %}<span class="label label-danger">New</span>{%endifequal%}</li>
				{%endfor%}
			</ul>
			{% else %}
			<p>Currently we have no active programmes, however, you can reach us if you want to suggest any programme or want to co-ordinate any. Keep checking we will be adding the programmes shortly</p>
			{% endif %}
		</div>
	</div>
	<div class="row section" id="career">
		<h4 class="heading">Career oportunities</h4>
		<div class="container">
			<div class="row col-sm-8 col-sm-offset-2">

				<div class="col-sm-6">
					<div class="text-center">
						<img class="img-responsive center-block" src="{% static 'home/images/computer.png' %}" alt="" />
						<h3>Computer Trainer</h3>
						<p>We are hiring computer instrutor to teach basic computer to our enrolled students</p>
						<a class="btn btn-danger btn-lg" href="/career/trainer"><i class="fa fa-send"></i> Apply Now </a>
						<a class="btn btn-primary btn-lg" href="/career/trainer"><i class="fa fa-book"></i> Read More </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row section" id="professionals">
		<h4 class="heading">Know Us</h4>
		<div class="container">

			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="thumbnail">
						<img class=" img-thumbnail img-circle img-responsive" src="{% static 'home/images/user.png' %}" alt="" />
						<div class="caption">
							<h3 class="team-name">Diwan Khan <small>Founder &amp; Director</small></h3>
							<p>Founder of 786 Multi services and co-founder of Baangee Club NGO, his ideas and will to improve the neighbourhood has lead this organisation to new peeks</p>
							<a href="{{daakhan_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="{{daakhan_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-xs-6">
					<div class="thumbnail">
						<img class=" img-thumbnail img-circle img-responsive" src="{% static 'home/images/sarfaraz.jpg' %}" alt="" />
						<div class="caption">
							<h3 class="team-name">Sarfaraz Nawaz <small>Managing Director</small></h3>
							<p>M. Comm, L.L.B and many other recognized degrees currently Serving INDIAN NAVY. manages and executes all the plans for the organisation</p>
							<a href="{{sarfaraz_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="{{sarfaraz_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-xs-6">
					<div class="thumbnail">
						<img class="img-thumbnail img-circle img-responsive" src="{% static 'home/images/zeeshan.jpg' %}" alt="" />
						<div class="caption">
							<h3 class="team-name">Zeeshan Khan <small>Web &amp; Mobile developer at TATA Consultancy Services Ltd. </small></h3>
							<p>B. Tech in Computer Science and Engg. currently working in TCS, his intutive approach and technical knowledge has helped this organisation to expand their wings.</p>
							<a href="{{zeeshan_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="{{zeeshan_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row section" id="about">
		<h4 class="heading">About</h4>
		<div class="container">
			<div class="row col-sm-8 col-sm-offset-2">
				<p>786 Multi Services is a service provider, A Internet shop has been set up to serve people of Illia and nearby.</p>
			</div>
		</div>
	</div>
	<div class="row section" id="contact">
		<h4 class="heading">Feel free to contact Us</h4>
		<div class="container">
			<div class="col-md-6">
				<div class="">
					<div id="map"></div>
				</div>
			</div>
			<div class="col-md-6">
				<form class="form" method="post" action=".">
					<div class="row">
						{% if success_msg %}
						<div class="alert alert-success">{{success_msg}}</div>
						{% endif %}
					</div>
					<div class="row">
						{% csrf_token %}

						<div class="form-group {%if form.name.errors%}error{%endif%}">
							{{form.name}} {{form.name.errors}}
						</div>
						<div class="form-group {%if form.email.errors%}error{%endif%}">
							{{form.email}} {{form.email.errors}}
						</div>
						<div class="form-group">
							{{form.message}} {{form.message.errors}}
						</div>
						<div class="form-group">
							<div class="input-group">
								{{form.captcha}}{{form.captcha.errors}}
							</div>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-default btn-lg">Submit</button>
						<button type="reset" class="btn btn-primary btn-lg">Reset</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock %}
