*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
.project
.pydevproject
venv/
virtenv/
dist/
build/
wsgi/openshift/django-786ms_students/
wsgi/openshift/django-786ms_shops/
wsgi/openshift/django-786ms_career/
static/components/
db.sqlite3