*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
.project
.pydevproject
venv/
virtenv/
dist/
build/
wsgi/openshift/*/
!wsgi/openshift/home/
!wsgi/openshift/templates/
wsgi/openshift/static/components/
